<!-- Author: Subramanyam Amara-->
<div class="card">
  <div class="card-header">
    {{pageTitle}}
  </div>

  <div class="card-body">
    <div class="table-responsive-xl">
      <table class="table"
             *ngIf="rides?.length">
        <thead>
          <tr>
            <th>From </th>
            <th>To</th>
            <th>Ride By</th>
            <th>Start Date</th>
            <th>Seats</th>
            <th>Vehicle Type</th>
            <th>Price</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let ride of rides">
            <td>
              {{ride.startsFrom}}
            </td>
            <td>{{ride.endTo}}</td>
            <td>{{ride.owner}}</td>
            <td>
              {{ride.startDate}} {{ride.startTime}}
            </td>
            <td>
              {{ride.seats}}
            </td>
            <td>{{ride.vehicleType}}</td>
            <td>{{ride.price}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>