<div class="card">
  <div class="card-header">
    {{pageTitle}}
  </div>

  <div class="card-body">
    <div class="table-responsive-xl">
      <table class="table" *ngIf="rides?.length">
        <tbody>
          <tr *ngFor="let ride of rides">
            <td>
              From {{ride.startsFrom}} to {{ride.endTo}} ride by <a href="#">{{ride.owner}}</a>
            </td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>
              {{ride.startDate}}
            </td>
            <td>
              {{ride.seats}}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
